@model CrsSoftBlogProject.Models.ViewModels.EditTagRequestViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager

<script src="~/js/Scripts/Tags/EditTag.min.js" asp-append-version="true"></script>


@if (signInManager.IsSignedIn(User))
{
    <div class=" py-2">
        <div class="container">
            <h1>Edit Tag - Admin Functionality</h1>
        </div>
    </div>


    <div class="container py-5">
        <form asp-controller="AdminTags" asp-action="Edit" id="editTag" method="post">
            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="text" class="form-control" id="id" asp-for="Id" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="name" asp-for="Name" required />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Display Name</label>
                <input type="text" class="form-control" id="displayName" asp-for="DisplayName" required />
                <span class="text-danger" asp-validation-for="DisplayName"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Save Changes</button>

                <button class="btn btn-danger ms-2" id="btnDelete" type="submit" asp-area="" asp-controller="AdminTags" asp-action="List">
                    Delete
                </button>
                <a class="btn btn-primary ms-2" href="@Url.Action("List", "AdminTags")">Go Back to List Page</a>

            </div>
        </form>
        <div class="container py-2">
            <div id="successMessage" class="alert alert-success" style="display: none;">
                Tag updated successfully!
            </div>
        </div>
    </div>

} else
{
    <div class="py-2 text-center">
        <div class="container">
            <h1>Bu sayfaya erişiminiz yok</h1>
        </div>
    </div>
}

