@model List<CrsSoftBlogProject.Models.Domain.TagDomain>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager

<link rel="stylesheet" runat="server" media="screen" href="~/css/CssFiles/TableList.min.css" />

@if (signInManager.IsSignedIn(User))
{
    <section class="contact_us">

        <div class="full-height">
            <div class="py-2">
                <h1>Show All Tags - Admin Functionality</h1>
            </div>

            <div class="container py-5">
                @if (Model != null && Model.Any())
                {
                    <div class="table-radius">

                        <table class="table  align-middle mb-0 table-striped custom-table">
                            <thead class="table-color text-center">
                                <tr>

                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Display Name</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int rowNumber = 1;
                                }
                                @foreach (var tag in Model)
                                {
                                    <tr scope="row" class="text-center">
                                        <td>
                                            @rowNumber
                                        </td>
                                        <td>@tag.Name</td>
                                        <td>
                                            @tag.DisplayName
                                        </td>
                                        <td>
                                            <a class="badge" asp-area="" asp-controller="AdminTags"
                                               asp-action="Edit"
                                               asp-route-id="@tag.Id">Edit</a>
                                        </td>
                                    </tr>
                                    rowNumber++;
                                }

                            </tbody>
                        </table>
                    </div>

                }
                else
                {
                    <p>No tags found!</p>
                }


            </div>
        </div>

    </section>

}
else
{
    <div class="py-2 text-center">
        <div class="container">
            <h1>Bu sayfaya erişiminiz yok</h1>
        </div>
    </div>
}
