.blog-grid {
position: relative;
box-shadow: 0 1rem 1.75rem 0 rgba(45, 55, 75, 0.1);
height: 100%;
border: 10px solid black);
border-radius: 0.25rem;
transition: all .2s ease-in-out;
}

.blog-grid span {
color: #292dc2
}

.blog-grid img {
width: 100%;
height: 20rem;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem
}

.blog-grid-text {
position: relative
}

.blog-grid-text > span {
    color: #292dc2;
    font-size: 13px;
    padding-right: 5px
}

.blog-grid-text h4 {
    line-height: normal;
    margin-bottom: 15px
}

.blog-grid-text .meta-style2 {
    border-top: 1px dashed #cee1f8;
    padding-top: 15px
}

    .blog-grid-text .meta-style2 ul li {
        margin-bottom: 0;
        font-weight: 500
    }

        .blog-grid-text .meta-style2 ul li:last-child {
            margin-right: 0
        }

.blog-grid-text ul {
    margin: 0;
    padding: 0
}

    .blog-grid-text ul li {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 10px 5px 0
    }

        .blog-grid-text ul li:last-child {
            margin-right: 0
        }

        .blog-grid-text ul li i {
            font-size: 14px;
            font-weight: 600;
            margin-right: 5px
        }

.blog-grid-text p {
    font-weight: 400;
    padding: 0
}

.blog-list-left-heading:after,
.blog-title-box:after {
content: '';
height: 2px
}

.blog-grid-simple-content a:hover {
color: #1d184a
}

.blog-grid-simple-content a:hover:after {
    color: #1d184a
}

.blog-grid-text {
position: relative
}

.blog-grid-text > span {
    color: #292dc2;
    font-size: 13px;
    padding-right: 5px
}

.blog-grid-text h4 {
    line-height: normal;
    margin-bottom: 15px
}

.blog-grid-text .meta-style2 {
    border-top: 1px dashed #cee1f8 !important;
    padding-top: 15px
}

    .blog-grid-text .meta-style2 ul li {
        margin-bottom: 0;
        font-weight: 500
    }

        .blog-grid-text .meta-style2 ul li:last-child {
            margin-right: 0
        }

.blog-grid-text ul {
    margin: 0;
    padding: 0
}

    .blog-grid-text ul li {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 10px 5px 0
    }

        .blog-grid-text ul li:last-child {
            margin-right: 0
        }

        .blog-grid-text ul li i {
            font-size: 14px;
            font-weight: 600;
            margin-right: 5px
        }

.blog-grid-text p {
    font-weight: 400;
    padding: 0
}

a, a:active, a:focus {
color: #575a7b;
text-decoration: none;
transition-timing-function: ease-in-out;
-ms-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
-webkit-transition-timing-function: ease-in-out;
-o-transition-timing-function: ease-in-out;
transition-duration: .2s;
-ms-transition-duration: .2s;
-moz-transition-duration: .2s;
-webkit-transition-duration: .2s;
-o-transition-duration: .2s;
}


.mt-6, .my-6 {
margin-top: 3.5rem;
}

.blog-grid {
position: relative;
}

.meta {
margin-top: 1rem;
background-color: rgba(1, 3, 72);
border-radius: 2rem;
padding: 1rem;
}

.meta ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .meta ul li {
        display: inline-block;
        color: white;
    }


.texts {
width: 100%;
height: 15rem;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
border: 1px solid black;
border radius: 1rem;
}

.tags p {
margin: 1rem;
}

.tags a {
margin: 3px;
background-color: rgba(1,3, 72);
padding: 1em;
border-radius: 1rem;
}


.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

a.contact_form_submit {
background-color: #1a3f74;
border: none;
color: white;
border: none;
border-radius: 4px;
padding: 10px 25px;
width: 100%;
margin-top: 25px;
border-radius: 2rem;
cursor: pointer;
font-size: 14px;
}

a.contact_form_submit:hover {
    background-color: rgb(1,3, 72);
}

